<!DOCTYPE html>
<html ng-app="eLeaveApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eLeave - @ViewBag.Title</title>
    <link href="~/Content/Css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/Js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Js/bootstrap.min.js"></script>
    <script src="~/Scripts/Js/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/Vendor/angular.min.js"></script>
    <script src="~/Scripts/Vendor/angular-resource.min.js"></script>
    <script src="~/Scripts/Vendor/angular-route.min.js"></script>
    <script src="~/Scripts/App/App.js"></script>
    <script src="../../Scripts/App/LoginCtrl.js"></script>
    @RenderSection("script", required: false)
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - &copy; eLeave</p>
    </footer>
</div>
</body>
</html>