
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section ng-controller="HomeCtrl">
    <div class="text-center">
        <h2>Welcome to eLeave Application</h2>
        <h1> Mr {{EmpName}}</h1>    
    </div>
    
    @*<a href="~/Login/Index" class="btn btn-default">go to Login</a>*@
</section>