
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="HomeCtrl">
    <h2>Welcome to eLeave Application</h2> <h1> Mr {{EmpName}}</h1>
    @*<a href="~/Login/Index" class="btn btn-default">go to Login</a>*@
</div>